

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.controls input {
	width: 60%;
}

.controls textarea {
	width: 60%;
	height: 100px;
}

#picker {
}















